@keyframes swipeUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animat {
    animation: swipeUp 1.5s ease-out forwards;
}
.parent{
    /* position: relative; */
    overflow: hidden;
}